*{
  font-family: 'EB Garamond';
  font-size: 23px;
  margin: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: goldenrod;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.equipment {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.equipment_info {
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  text-align: center;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
}

.equipment:hover .equipment_info {
  visibility: visible;
}

h2{
  font-size: 30px;
}
table {
  border-collapse: collapse;
  
}

td, th {
  border: 2px solid #000000;
  text-align: left;
  padding: 8px;
  
}

table.character{
  position: relative;
  margin: 20px;
  
}

div.stat_menu{
  margin: 20px;
  float: left;
}

div.stat_sheet{
  margin: 20px;
  float: left;
  border: #000000;
}

td.equip{
  border: 2px solid #000000;
  text-align: center;
  height: 70px;
  width: 70px;
  border-radius: 10px;
}

td.empty{
  border: none;
  text-align: center;
  height: 70px;
  width: 70px;
}

div.nav {
  position: fixed;
  top: 0;
  right: 0;
}

div.north {
  position: fixed;
  top: 0;
  right: 50%;
}

div.south {
  position: fixed;
  bottom: 0;
  right: 50%;
}

div.east {
  position: fixed;
  top: 50%;
  right: 0;
}

div.west {
  position: fixed;
  top: 50%;
  left: 0;
}

div.barrel{     
    justify-content: center;align-items: center;
    border: solid;
    border-radius: 100%;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.chest{     
    justify-content: center;align-items: center;
    border: solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.Legendary{
  
  color: #ff8000;
  font-weight: bold;
}
div.Epic{
  
  color: #a335ee;
  font-weight: bold;
}
div.Rare{
  
  color: #0070dd;
  font-weight: bold;
}
div.Uncommon{
  
  
  color: #1eff00;
  font-weight: bold;
}
div.Common{
  
  color: #9d9d9d;
  font-weight: bold;
}


tr.Legendary{


  box-shadow: 0 0 40px 15px #ff8000 inset;

}
tr.Epic{


  box-shadow: 0 0 40px 15px #a335ee inset; 

}
tr.Rare{


  box-shadow: 0 0 40px 15px #0070dd inset;

}
tr.Uncommon{


  box-shadow: 0 0 40px 15px #1eff00 inset;

}
tr.Common{


  box-shadow: 0 0 40px 15px #9d9d9d inset;

}