{% extends "layout.html" %}
    
{% block title %}Blackmarket{% endblock %}
        
{% block content %}
<a href="/">&lt;&lt;</a>

<form action="/blackmarket" method="get">
    <div>
        <input type="text" name="query" value="{{query.keyword}}" placeholder="Search..."/>
        Agility:
        {%if query.agility==1%}
        <input type="checkbox" name="agility" checked/> 
        {%else%}
        <input type="checkbox" name="agility"/> 
        {%endif%}
        Magic:
        {%if query.magic==1%}
        <input type="checkbox" name="magic" checked/> 
        {%else%}
        <input type="checkbox" name="magic"/> 
        {%endif%}
        Stamina:
        {%if query.stamina==1%}
        <input type="checkbox" name="stamina" checked/> 
        {%else%}
        <input type="checkbox" name="stamina"/> 
        {%endif%}
        Strength:
        {%if query.strength==1%}
        <input type="checkbox" name="strength" checked/> 
        {%else%}
        <input type="checkbox" name="strength"/> 
        {%endif%}
        Item level > <input type="number" name="item_level" value="{{query.item_level}}"/>
        <select name="slot">
                    <option value="">Item slot</option>
                    {%for slot in slots%}
                    
                    {%if slot.slot_name==query.item_slot%}
                    <option value="{{slot.slot_name}}" selected="selected">{{slot.slot_name}}</option>
                    {%else%}
                    <option value="{{slot.slot_name}}">{{slot.slot_name}}</option>
                    {%endif%}
                    {%endfor%}
                </select>
    </div>
    <input type="submit" value="Search"/>
</form>


    <table>
                <tr>
                    <th>Item name</th>
                    <th>Item type</th>
                    <th>Item level</th>
                    <th>Item rarity</th>
                    <th>Item stats</th>
                    <th>Item slot</th>
                    <th>Trader price</th>
                </tr>
                {% for item in items %}

                <tr class="{{item.rarity}}">
                    <td>{{item.item_name}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.item_level}}</td>
                    <td><div class="{{item.rarity}}">{{item.rarity}}</div></td>
                    <td>
                        <ul>
                            {%if item.magic%}
                            <li>
                                Magic: {{item.magic}}
                            </li>
                            {%endif%}
                            {%if item.agility%}
                            <li>
                                
                                Agility: {{item.agility}}
            
                            </li>
                            {%endif%}

                            {%if item.strength%}
                            <li>
                                
                                Strength: {{item.strength}}
            
                            </li>
                            {%endif%}
                            {%if item.stamina%}
                            <li>
                                Stamina: {{item.stamina}}
                            </li>
                            {%endif%}
                            {%if item.armor%}
                            <li>
                                
                                Armor: {{item.armor}}
            
                            </li>
                            {%endif%}
                        </ul>
                        {%if item.slot=="Weapon"%}
                        <ul>
                            <li>
                                Damage: {{item.min_damage}}-{{item.max_damage}}
                            </li>
                            <li>
                                Speed: {{item.weapon_speed}}
                            </li>
                            <li>
                                Damage styles: {{item.damage_style}} {%if item.secondary_style%}/ {{item.secondary_style}} {%endif%}
                            </li>
                        </ul>
                        {%endif%}

                    </td>
                    <td>{{item.slot}}</td>
                    <td>{{item.trader_price}}</td>
                    <td>

                        <form action="/buy_from_blackmarket" method="post" >
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                            <input type="hidden" name="item_id" value="{{item.id}}"/>
                            <input type="submit" value="Buy" onclick="return confirm('Buy {{item.item_name}} for {{item.trader_price}}?')" />
                        </form>

                        
                    </td>
                </tr>
                {% endfor %}
            </table>

            
        

{% endblock %}