<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/game.css">
        <title>
            Welcome to game
        </title>
    </head>
    <body>
        {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
        {% endfor %}
        <div class="inventory">
            <a href="/inventory">Inventory</a>
        </div>
        
        {%if connected.north %}
        <div class="north">
            Go north
        </div>
        
        {%endif%}
        {%if connected.south %}
        <div class="south">
            Go south
        </div>
        {%endif%}
        {%if connected.east %}
        <div class="east">
            Go east
        </div>
        {%endif%}
        {%if connected.west %}
        <div class="west">
            Go west
        </div>
        {%endif%}

        {% for npc in npcs %}
                <p>
                    <b>{{ npc }}</b>
                </p>
        {% endfor %}
        {% for object in objects %}
                <p>
                    <b>{{ object }}</b>
                </p>
        {% endfor %}
    </body>
</html>