{% extends "layout.html" %}
    
{% block title %}Gameboard{% endblock %}
        
{% block content %}
<body class="{{tile_type}}">
<p>
    <h2>{{ tile_type }}</h2>
</p>
{%if connected.north %}


<div class="north">
    <form action="/move" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="tile" value="{{connected.north}}"/>
        <input type="submit" value="Go north"/>
    </form>
    
</div>

{%endif%}
{%if connected.south %}
<div class="south">
    <form action="/move" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="tile" value="{{connected.south}}"/>
        <input type="submit" value="Go south"/>
    </form>
</div>
{%endif%}
{%if connected.east %}
<div class="east">
    <form action="/move" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="tile" value="{{connected.east}}"/>
        <input type="submit" value="Go east"/>
    </form>
</div>
{%endif%}
{%if connected.west %}
<div class="west">
    <form action="/move" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="tile" value="{{connected.west}}"/>
        <input type="submit" value="Go west"/>
    </form>
</div>
{%endif%}

<div class="npc_space">
{% for npc,placements in npc_info %}
    
        <div style="position: absolute;
            bottom: {{placements[1]}}%;
            right: {{placements[0]}}%">
            {%if npc.alive==1%}
            <b>{{ npc.npc_name }} </b>
            <form action="/combat" method="post">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="hidden" name="npc_id" value="{{npc.id}}"/>
                <input type="submit" value="Fight!"/>
            </form>
            {%if npc.npc_name=="Human" and npc.gold>0%}
            <form action="/pickpocket" method="post">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="hidden" name="npc_id" value="{{npc.id}}"/>
                <input type="submit" value="Pickpocket"/>
            </form>
            {%endif%}
            {%endif%}
            {%if npc.alive==0%}
            <form action="/loot_npc" method="get">
                <b>{{ npc.npc_name }} (dead)</b>
                <input type="hidden" name="npc_id" value="{{npc.id}}"/>
                <input type="submit" value="Loot"/>
            </form>

            {%endif%}
        </div>
    {% endfor %}
</div>
        

{% for container in containers %}
        <div style="position: absolute;
        top: 50%;
        right: 50%;" class="{{container.container_type}}">
            <form action="/loot" method="get">
                <b>{{ container.container_type }}</b>
                <div>
                <label for="actions"></label>

                </select>
                <input type="hidden" name="container_id" value="{{ container.id }}"/>
                </div>
                <div>
                <input type="submit" value="Loot"/>
                </div>
            </form>
            
        </div>
{% endfor %}
</body>
{%endblock%}