{% extends "layout.html" %}
    
{% block title %}Welcome to game{% endblock %}
        
{% block content %}
<p>
    <b>{{ tile_type }}</b>
</p>
{%if connected.north %}


<div class="north">
    <form action="/move" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="tile" value="{{connected.north}}"/>
        <input type="submit" value="Go north"/>
    </form>
    
</div>

{%endif%}
{%if connected.south %}
<div class="south">
    <form action="/move" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="tile" value="{{connected.south}}"/>
        <input type="submit" value="Go south"/>
    </form>
</div>
{%endif%}
{%if connected.east %}
<div class="east">
    <form action="/move" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="tile" value="{{connected.east}}"/>
        <input type="submit" value="Go east"/>
    </form>
</div>
{%endif%}
{%if connected.west %}
<div class="west">
    <form action="/move" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="tile" value="{{connected.west}}"/>
        <input type="submit" value="Go west"/>
    </form>
</div>
{%endif%}

{% for npc in npcs %}
        <p>
            <b>{{ npc.npc_name }}</b>
        </p>
{% endfor %}
{% for container in containers %}
        <div style="position: fixed;
        top: 50%;
        right: 50%;" class="{{container.container_type}}">
            <form action="/loot" method="get">
                <b>{{ container.container_type }}</b>
                <div>
                <label for="actions"></label>

                </select>
                <input type="hidden" name="container_id" value="{{ container.id }}"/>
                </div>
                <div>
                <input type="submit" value="Loot"/>
                </div>
            </form>
            
        </div>
{% endfor %}
{%endblock%}