{% extends "layout.html" %}
    
{% block title %}How to play{% endblock %}
        
{% block content %}
<div class="how">
<h2>Welcome</h2>
<p>
    This is an adventure rpg. From the main menu you can generate new worlds. The worlds get bigger and more difficult as you get new items and equip them. 
    You can equip and use items in the inventory menu. There you can see all your items, manage them and you can list items for sale to the marketplace. Other players can then buy them or send you offers with items and gold.
    On your own player page you can set your starting stats. Stats cannot be changed after, so you might wanna get to know the game before setting these.
    You can also see other players stats and marketplace listings on their player pages.
</p>
<h3>Worlds</h3>
<p>
    In the worlds you find enemies and containers. Containers can be looted, but someone might be guarding them. To get rid of the guards you can fight them. The combat is turn based, both sides choose an action and do that action for 3 ticks (If you have heavy items and not enough strength to wield them, you might not be able to swing your weapon on every round). If you defeat your enemy and they have items, you can loot those items. If you lose the battle you need to recover your health with potions that can be found in the worlds.

    Explore and enjoy!
</p>
</div>
{% endblock %}