{% extends "layout.html" %}
    
{% block title %}How to play{% endblock %}
        
{% block content %}
<div class="how">
<h2>Welcome</h2>
<p>
    This is an adventure rpg. From the main menu you can generate new worlds. The worlds get bigger and more difficult as you get new items and equip them. 
    
</p>
<h3>Worlds</h3>
<p>
    In the worlds you find enemies and containers. Containers can be looted, but chest might be guarded. To get rid of the guards you can fight them. The combat is turn based, both sides choose an action and do that action for 3 ticks (If you have heavy items and not enough strength to wield them, you might not be able to swing your weapon on every round). If you defeat your enemy and they have items, you can loot those items. If you lose the battle you need to recover your health with potions that can be found in the barrels.
    World generation can get slow when you reach higher levels.

</p>
<h3>Player page</h3>
<p>
    On your own player page you can set your starting stats. Stats cannot be changed after locking them in, so you might wanna get to know the world a bit before choosing these.
    On other players pages you can see their marketplace listings, stats and equipped items.

</p>
<h3>Stats</h3>
<p>
    You have 15 skillpoints to allocate into different stats. After this you need to equip items to raise you stats.
    You can find what different stats do from the player page.

</p>
<h3>Inventory</h3>
<p>
    In your inventory you can see and manage your items. Items can be listed to the marketplace, sold straight to the blackmarket, used or dropped.

</p>
<h3>Marketplace</h3>
<p>
    On the marketplace you can see items listed for sale. When you make a listing you can choose if you wanna receive offers from other players. Offers can have items, gold or both. Listings can be done through the inventory. 
    

</p>
<h3>Blackmarket</h3>
<p>
    Blackmarket is a shared trading market, where players can buy items for their trader value. Items can be sold to the blackmarket through the inventory. Items are also randomly generated here when anyone creates a new world. 
</p>
<h3>Offers</h3>
<p>
    Offers can be made to items on the marketplace if the seller has allowed it. Offers stay on the items when traded so if you see an offer you like on an item you can buy it and trade in that offer for yourself
</p>
</div>
{% endblock %}