<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcome to game
        </title>
        <link rel="stylesheet" href="/static/game.css">
    </head>
    <body>
        {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
        {% endfor %}
        <div class="inventory">
            <a href="/inventory">Inventory</a>
        </div>
        Welcome
        {%if not session.username %}
        <p>
            <a href="/login"> Login </a>
        </p>
        <p>
            <a href="/register"> Register </a>
        </p>
        {%else%}
        {{session.username}}
        <p>
            <form action="/logout" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </p>
        <a href="/play"><button>Play</button></a>
        {%endif%}
    </body>
</html>