{% extends "layout.html" %}
    
{% block title %}Welcome to game{% endblock %}
        
{% block content %}

    Welcome
    {%if session.username %}
    {{session.username}}
    <div>
        <a href="/marketplace"><button>Marketplace</button></a>
    </div>
    

    <form action="/new_world" method="post">
        World name:
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="text" name="world_name"/>
        <input type="submit" value="Generate a new world!"/>
    </form>
    

    {%for world in worlds%}
    <div>
        World name:
        <b>{{world.world_name}}</b>
        <div><i>id:{{world.id}}</i></div>
        <div>Difficulty: {{world.difficulty}}</div>
        <div>
            {%if world.visited%}
            <div>You have visited this world before!</div>
            {%else%}
            <div>You haven't visited this world yet!</div>
            {%endif%}
        </div>
        <form action="/play" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="hidden" name="world_id" value="{{world.id}}"/>
            <input type="submit" value="Play!"/>
        </form>
    </div>
    {%endfor%}


    {%endif%}
{% endblock %}