{% extends "layout.html" %}
    
{% block title %}Welcome to game{% endblock %}
        
{% block content %}

{%if previous_page and "/inventory" not in previous_page and "/sell" not in previous_page%}
<a href="{{previous_page}}">&lt;&lt;</a>
{%else%}
<a href="/">&lt;&lt;</a>
{%endif%}

{%if not items%}
<div>
    You don't have any items
</div>
{%endif%}

{% for item in items %}
        <div>
            <form action="/drop" method="post" >
                <b>{{ item.item_name }}</b>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="hidden" name="item_id" value="{{item.id}}"/>
                <input type="submit" value="drop" onclick="return confirm('You will lose this item forever, are you sure?')" />
            </form>
            {%if not session.location%}
            <form action="/sell" method="get">
                <input type="hidden" name="item_id" value="{{item.id}}"/>
                <input type="submit" value="sell"/>
            </form>
            {%endif%}
        </div>
{% endfor %}
{% endblock %}