{% extends "layout.html" %}
    
{% block title %}Inventory{% endblock %}
        
{% block content %}

{%if previous_page and "/inventory" not in previous_page and "/sell" not in previous_page%}
<div><a href="{{previous_page}}">&lt;&lt;</a></div>
{%else%}
<div><a href="/">&lt;&lt;</a></div>
{%endif%}
<div class="stat_sheet">
    <h2>Total Stats</h2>
    <ul>
        <li>Agility: {{stats.agility}}</li>
        <li>Magic: {{stats.magic}}</li>
        <li>Stamina: {{stats.stamina}}</li>
        <li>Strength: {{stats.strength}}</li>
        <li>Armor: {{stats.armor}}</li>
    </ul>
    <div>
        {%for worn_item in worn_items%}
        {%if worn_item.slot=="Weapon"%}
        <h2>Weapon Stats</h2>
        <h3>Primary attack</h3>
        <h4>{{worn_item.damage_style}}</h4>
        <ul>
            <li>
                {%if worn_item.damage_style in ("Stab","Crush","Slash")%}
                Physical Damage: {{(worn_item.min_damage*stats.physical_modifier//1)|int}}-{{(worn_item.max_damage*stats.physical_modifier//1)|int}}
                {%else%}
                Magical Damage: {{(worn_item.min_damage*stats.magical_modifier//1)|int}}-{{(worn_item.max_damage*stats.magical_modifier//1)|int}}
                {%endif%}
            </li>
            <li>
                Speed: {{(worn_item.weapon_speed*stats.speed_modifier)|round(2)}}
            </li>
        </ul>
        
        {%if worn_item.secondary_style%} 
        <h3>Secondary attack</h3>
        <h4>{{worn_item.secondary_style}}</h4>
        <ul>
            <li>
                {%if worn_item.secondary_style in ("Stab","Crush","Slash")%}
                Physical Damage: {{(worn_item.min_damage*stats.physical_modifier*0.7//1)|int}}-{{(worn_item.max_damage*stats.physical_modifier*0.7//1)|int}}
                {%else%}
                Magical Damage: {{(worn_item.min_damage*stats.magical_modifier*0.7//1)|int}}-{{(worn_item.max_damage*stats.magical_modifier*0.7//1)|int}}
                {%endif%}
            </li>
            <li>
                Speed: {{(worn_item.weapon_speed*stats.speed_modifier)|round(2)}}
            </li>
        </ul>
        {%endif%}
            
        
        {%endif%}
        {%endfor%}
    </div>
</div>
<table class="character">
    <tr>
        <td class="empty">
        </td>
        <td class="equip">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Head"%}
            <div class="equipment">
                <form action="/unequip" method="post" class="unequip">
                    <input type="hidden" name="item_id" value="{{worn_item.id}}"/>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Head"/>
                </form>
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    Agility: {{worn_item.agility}}              
                                </li>
                                {%endif%}
                                {%if worn_item.strength%}
                                <li>

                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>
                    </tr>
                    </table>
                 </span>
            </div>
            {%endif%}
            {%endfor%}
        </td>
        <td class="empty">
            
        </td>
    </tr>
    <tr>
        <td class="equip" colspan="3">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Shoulders"%}
                <div class="equipment">
                <form action="/unequip" method="post" class="unequip">
                    <input type="hidden" name="item_id" value="{{worn_item.id}}"/>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Shoulders"/>
                </form>
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>
                    </tr>
                    </table>
                 </span>
                </div>
            {%endif%}
            {%endfor%}

            
        </td>
    </tr>
    <tr>
        <td class="equip">
            
        </td>
        <td class="equip" rowspan="2">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Chest"%}
            <div class="equipment">
                <form action="/unequip" method="post" class="unequip">
                    <input type="hidden" name="item_id" value="{{worn_item.id}}"/>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Chest"/>
                </form>
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>
                    </tr>
                    </table>
                 </span>
                </div>
            {%endif%}
            {%endfor%}
            
        </td>
        <td class="equip">
            
        </td>
    </tr>

    <tr>
        <td class="equip">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Weapon"%}
            <div class="equipment">
                <form action="/unequip" method="post" class="unequip">
                    <input type="hidden" name="item_id" value="{{worn_item.id}}"/>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Weapon"/>
                </form>
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>
                        <td>
                        {%if worn_item.slot=="Weapon"%}
                        <ul>
                            <li>
                                Damage: {{worn_item.min_damage}}-{{worn_item.max_damage}}
                            </li>
                            <li>
                                Speed: {{worn_item.weapon_speed}}
                            </li>
                            <li>
                                Damage styles: {{worn_item.damage_style}} {%if worn_item.secondary_style%}/ {{worn_item.secondary_style}} {%endif%}
                            </li>
                        </ul>
                        {%endif%}
                        </td>

                    </tr>
                    </table>
                 </span>
                 </div>
            {%endif%}
            {%endfor%}
            
        </td>
        <td class="equip">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Hands"%}
            <div class="equipment">
                <form action="/unequip" method="post" class="unequip">
                    <input type="hidden" name="item_id" value="{{worn_item.id}}"/>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Hands"/>
                </form>
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>
                    </tr>
                    </table>
                 </span>
                 </div>
            {%endif%}
            {%endfor%}
        </td>
    </tr>

    <tr>
        <td class="empty">
            
        </td>
        <td class="equip" rowspan="2">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Legs"%}
            <div class="equipment">
                <form action="/unequip" method="post" class="unequip">
                    <input type="hidden" name="item_id" value="{{worn_item.id}}"/>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Legs"/>
                </form>
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>

                    </tr>
                    </table>
                 </span>
                </div>
            {%endif%}
            {%endfor%}
            
        </td>
        <td class="empty">
            
        </td>
    </tr>
    <tr>
        <td class="empty">
            
        </td>
        <td class="empty">
            
        </td>

    </tr>
    <tr>
        <td class="equip" colspan="3" >
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Feet"%}
            <div class="equipment">
                <form action="/unequip" method="post" class="unequip">
                    <input type="hidden" name="item_id" value="{{worn_item.id}}"/>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Feet"/>
                </form>
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>

                    </tr>
                    </table>
                 </span>
                </div>
            {%endif%}
            {%endfor%}
            
        </td>

    </tr>
</table>

{%if not items%}
<div>
    You don't have any items
</div>
{%else%}


        <div>
            <table>
                <tr>
                    <th>Item name</th>
                    <th>Item type</th>
                    <th>Item level</th>
                    <th>Item rarity</th>
                    <th>Item stats</th>
                    <th>Item slot</th>
                    <th>Trader price</th>
                </tr>
                {% for item in items %}

                <tr class="{{item.rarity}}">
                    <td>{{item.item_name}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.item_level}}</td>
                    <td><div class="{{item.rarity}}">{{item.rarity}}</div></td>
                    <td>
                        <ul>
                            {%if item.magic%}
                            <li>
                                Magic: {{item.magic}}
                            </li>
                            {%endif%}
                            {%if item.agility%}
                            <li>
                                
                                Agility: {{item.agility}}
            
                            </li>
                            {%endif%}

                            {%if item.strength%}
                            <li>
                                
                                Strength: {{item.strength}}
            
                            </li>
                            {%endif%}
                            {%if item.stamina%}
                            <li>
                                Stamina: {{item.stamina}}
                            </li>
                            {%endif%}
                            {%if item.armor%}
                            <li>
                                
                                Armor: {{item.armor}}
            
                            </li>
                            {%endif%}
                        </ul>
                        {%if item.slot=="Weapon"%}
                        <ul>
                            <li>
                                Damage: {{item.min_damage}}-{{item.max_damage}}
                            </li>
                            <li>
                                Speed: {{item.weapon_speed}}
                            </li>
                            <li>
                                Damage styles: {{item.damage_style}} {%if item.secondary_style%}/ {{item.secondary_style}} {%endif%}
                            </li>
                        </ul>
                        {%endif%}

                    </td>
                    <td>{{item.slot}}</td>
                    <td>{{item.trader_price}}</td>
                    <td>
                        <form action="/use" method="post" >
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                            <input type="hidden" name="item_id" value="{{item.id}}"/>
                            <input type="hidden" name="item_slot" value="{{item.slot}}"/>
                            <input type="submit" value="Use" />
                        </form>
                        <form action="/drop" method="post" >
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                            <input type="hidden" name="item_id" value="{{item.id}}"/>
                            <input type="submit" value="Drop" onclick="return confirm('You will lose this item forever, are you sure?')" />
                        </form>
                        {%if not session.location%}
                        <form action="/sell" method="get">
                            <input type="hidden" name="item_id" value="{{item.id}}"/>
                            <input type="submit" value="List to the marketplace"/>
                        </form>
                        <form action="/sell_blackmarket" method="post">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                            <input type="hidden" name="item_id" value="{{item.id}}"/>
                            <input type="submit" value="Sell to the blackmarket" onclick="return confirm('Sell this item for {{item.trader_price}}?')"/>
                        </form>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
            </table>

            
        </div>
{%endif%}
{% endblock %}