<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/game.css">
</head>

<body>
    <div>
        {% for message in get_flashed_messages() %}
        <p>
            <h2>{{ message }}</h2>
        </p>
        {% endfor %}
    </div>

  <div class="nav">
    <nav>
        {%if session.location and not session.in_combat%}
        <ul>
            <form action="/leave" method="post">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="submit" value="Leave world" onclick="return confirm('Are you sure you want to leave the world? You can come back, but you will have to start from the beginning')"/>
            </form>
        </ul>
        {%endif%}
        {% if session.username %}
            {%if not session.location%}
            <ul><a href="/my_offers"><button>My offers</button></a></ul>
            <ul><a href="/marketplace"><button>Marketplace</button></a></ul>
            <ul><a href="/blackmarket"><button>Blackmarket</button></a></ul>
            <ul><a href="/player/{{session.username}}"><button>Player page</button></a></ul>
            <ul><a href="/how"><button>How to play</button></a></ul>
            {%endif%}
        <ul><a href="/logout"><button>Logout</button></a></ul>
        <ul><a href="/inventory"><button>Inventory</button></a></ul>
        <h2>Gold {{session.gold}}</h2>
        <div class="health">
            
            <h2>Health {{session.health}}/{{session.max_health}}</h2>
        </div>
        {% else %}
        <ul><a href="/how"><button>How to play</button></a></ul>
        <ul><a href="/login"><button>Login</button></a></ul>
        <ul><a href="/register"><button>Register</button></a></ul>
        {% endif %}
      
    </nav>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>