{% extends "layout.html" %}
    
{% block title %}Welcome to game{% endblock %}
        
{% block content %}

<a href="/play">&lt;&lt;</a>

{% for item in items %}
        <p>
            <form action="/loot" method="post">
                <b>{{ item.item_name }}</b>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="hidden" name="container_id" value="{{container_id}}"/>
                <input type="hidden" name="item_id" value="{{item.id}}"/>
                <input type="hidden" name="item_name" value="{{item.item_name}}"/>
                <input type="submit" value="take"/>
            </form>
            
        </p>
{% endfor %}
{% endblock %}