<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/game.css">
        <title>
            Welcome to marketplace
        </title>
        
    </head>
    <body>
        <a href="/">&lt;&lt;</a>
        <div class="inventory">
            <a href="/inventory">Inventory</a>
        </div>
        {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
        {% endfor %}
        <form action="/marketplace" method="get">
            <div>
                <input type="text" name="query" value="{{query}}" placeholder="Search..."/>
            </div>
            <input type="submit" value="Search"/>
        </form>
        
        {% for item in items %}
                <p>
                    <b>{{ item.item_name }} </b>
                    {%if item.username!=session.username%}
                    <form action="/buy" method="post" >
                        <input type="hidden" name="item_id" value="{{item.id}}"/>
                        <input type="hidden" name="seller" value="{{item.username}}"/>
                        <input type="submit" value="buy" onclick="return confirm('Buy {{item.item_name}} for {{item.marketplace_price}}?')" />
                    </form>
                    {%else%}
                        (Your listing)
                        <form action="/cancel" method="post" >
                            <input type="hidden" name="item_id" value="{{item.id}}"/>
                            <input type="submit" value="cancel" onclick="return confirm('Cancel the listing for {{item.item_name}} ?')" />
                        </form>
                    {%endif%}
                    <div>Attributes:</div>
                    <div>Price: {{item.marketplace_price}}</div>
                </p>
        {% endfor %}
    </body>
</html>