{% extends "layout.html" %}
    
{% block title %}Welcome to game{% endblock %}
        
{% block content %}
<a href="/">&lt;&lt;</a>

<form action="/marketplace" method="get">
    <div>
        <input type="text" name="query" value="{{query}}" placeholder="Search..."/>
    </div>
    <input type="submit" value="Search"/>
</form>

{% for item in items %}
        <p>
            <b>{{ item.item_name }} </b>
            {%if item.username!=session.username%}
            <form action="/buy" method="post" >
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="hidden" name="item_id" value="{{item.id}}"/>
                <input type="hidden" name="seller" value="{{item.username}}"/>
                <input type="submit" value="Buy" onclick="return confirm('Buy {{item.item_name}} for {{item.marketplace_price}}?')" />
            </form>
            {%else%}
                (Your listing)
                <form action="/cancel" method="post" >
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="hidden" name="item_id" value="{{item.id}}"/>
                    <input type="submit" value="Cancel" onclick="return confirm('Cancel the listing for {{item.item_name}} ?')" />
                </form>
                <form action="/modify" method="get" >
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="hidden" name="item_id" value="{{item.id}}"/>
                    <input type="submit" value="Modify" />
                </form>
            {%endif%}
            <form action="/offer_trade" method="get">
                <input type="hidden" name="item_id" value="{{item.id}}"/>
                {%if item.username!=session.username%}
                <input type="submit" value="Offer a trade"/>
                {%else%}
                <input type="submit" value="See offers"/>
                {%endif%}
            </form>
            <div>Attributes:</div>
            <div>Price: {{item.marketplace_price}}</div>
        </p>
{% endfor %}
{% endblock %}