{% extends "layout.html" %}
    
{% block title %}My offers{% endblock %}
        
{% block content %}


<a href="/">&lt;&lt;</a>


<h2>
    Offers you have made
</h2>

{%if not my_offers%}
<div>
    You haven't made any offers
</div>
{%endif%}

{% for my_offer in my_offers %}
        <div>
            <form action="/cancel_offer" method="post" >
                <b>{{ my_offer.item_name }}</b>
                <div>Offered gold: {{my_offer.gold_offer}}</div>
                <ul>
                    <div>Offered items: </div>
                    {%for item in my_offer.offered_items%}
                    <li>
                        {{item.item_name}}
                    </li>
                    {%endfor%}
                </ul>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="hidden" name="offer_id" value="{{my_offer.id}}"/>
                <input type="submit" value="cancel" onclick="return confirm('Are you sure you want to cancel this offer?')" />
            </form>
        </div>
{% endfor %}

<h2>
    Offers made to you
</h2>

{%if not other_offers%}
<div>
    There are no pending offer for you
</div>
{%endif%}

{% for offer in other_offers %}
        <div>
            <form action="/accept" method="post" >
                <b>{{ offer.item_name }}</b>
                <div>Offered gold: {{offer.gold_offer}}</div>
                <ul>
                    <div>Offered items: </div>
                    {%for item in offer.offered_items%}
                    <li>
                        {{item.item_name}}
                    </li>
                    {%endfor%}
                </ul>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="hidden" name="buyer_id" value="{{offer.buyer_id}}"/>
                <input type="hidden" name="owner" value="{{offer.owner}}"/>
                <input type="hidden" name="offer_id" value="{{offer.id}}"/>
                <input type="hidden" name="sold_item_id" value="{{offer.item_id}}"/>
                <input type="submit" value="accept" onclick="return confirm('Are you sure you want to accept this offer?')" />
            </form>
        </div>
{% endfor %}

{% endblock %}