{% extends "layout.html" %}
    
{% block title %}Welcome to game{% endblock %}
        
{% block content %}

<div><a href="/">&lt;&lt;</a></div>


<div class="stat_menu">
{% for value in info %}
<h2>{{value.username}}</h2>
<ul>{{value.username}}'s gold: {{value.gold}}</ul>
{%if value.username==session.username and not value.set_stats%}
<form action="/set_stats" method="post">

    <ul><i>You have {{15-value.total_stats}} unspent skillpoints</i></ul>
<table>
    <tr>
        <th>Stat</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>
            <div class="tooltip">Stamina
                 <span class="tooltiptext">
                    Stamina increases your total health
                 </span>
            </div>
        </td>
        <td><input type="number" name="stamina" value="{{value.stamina}}" min="{{value.stamina}}" "/></td>
    </tr>
        <tr>
        <td>
            <div class="tooltip">Strength
                 <span class="tooltiptext">
                    Strength affects your ability to pierce armor with melee weapons. It is also required to wield heavy weapons effectivly.
                 </span>
            </div>
        </td>
        <td><input type="number" name="strength" value="{{value.strength}}" min="{{value.strength}}" "/></td>
    </tr>
        <tr>
            <td>
                <div class="tooltip">Agility
                    <span class="tooltiptext">
                        Agility affects your effectivness with light melee weapons and also your ability to dodge attacks.
                    </span>
                </div>
            </td>
        <td><input type="number" name="agility" value="{{value.Agility}}" min="{{value.Agility}}" "/></td>
    </tr>
        <tr>
        <td>
            <div class="tooltip">Magic
                 <span class="tooltiptext">
                    Magic determines your ability with magical weapons and items.
                 </span>
            </div>
        </td>
        <td><input type="number" name="magic" value="{{value.magic}}" min="{{value.magic}}" "/></td>
    </tr>
</table>
<input type="submit" value="Confirm choices" onclick="return confirm('Are you sure you want to set these skillpoints? Changing them can be difficult.')"/>
</form>
{%else%}

<table>
    <tr>
        <th>Stat</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>
            <div class="tooltip">Stamina
                 <span class="tooltiptext">
                    Stamina increases your total health
                 </span>
            </div>
        </td>
        <td>{{value.stamina}}</td>
    </tr>
        <tr>
        <td>
            <div class="tooltip">Strength
                 <span class="tooltiptext">
                    Strength affects your ability to pierce armor with melee weapons. It is also required to wield heavy weapons effectivly.
                 </span>
            </div>
        </td>
        <td>{{value.strength}}</td>
    </tr>
        <tr>
            <td>
                <div class="tooltip">Agility
                    <span class="tooltiptext">
                        Agility affects your effectivness with light melee weapons and also your ability to dodge attacks.
                    </span>
                </div>
            </td>
        <td>{{value.Agility}}</td>
    </tr>
        <tr>
        <td>
            <div class="tooltip">Magic
                 <span class="tooltiptext">
                    Magic determines your ability with magical weapons and items.
                 </span>
            </div>
        </td>
        <td>{{value.magic}}</td>
    </tr>
</table>
{%endif%}
{%endfor%}
</div>

<div class="stat_sheet">
    <h2>Total Stats</h2>
    <ul>
        <li>Agility: {{stats.agility}}</li>
        <li>Magic: {{stats.magic}}</li>
        <li>Stamina: {{stats.stamina}}</li>
        <li>Strength: {{stats.strength}}</li>
        <li>Armor: {{stats.armor}}</li>
    </ul>
    <div>
        {%for worn_item in worn_items%}
        {%if worn_item.slot=="Weapon"%}
        <h2>Weapon Stats</h2>
        <h3>Primary attack</h3>
        <h4>{{worn_item.damage_style}}</h4>
        <ul>
            <li>
                {%if worn_item.damage_style in ("Stab","Crush","Slash")%}
                Physical Damage: {{(worn_item.min_damage*stats.physical_modifier//1)|int}}-{{(worn_item.max_damage*stats.physical_modifier//1)|int}}
                {%else%}
                Magical Damage: {{(worn_item.min_damage*stats.magical_modifier//1)|int}}-{{(worn_item.max_damage*stats.magical_modifier//1)|int}}
                {%endif%}
            </li>
            <li>
                Speed: {{(worn_item.weapon_speed*stats.speed_modifier)|round(2)}}
            </li>
        </ul>
        
        {%if worn_item.secondary_style%} 
        <h3>Secondary attack</h3>
        <h4>{{worn_item.secondary_style}}</h4>
        <ul>
            <li>
                {%if worn_item.secondary_style in ("Stab","Crush","Slash")%}
                Physical Damage: {{(worn_item.min_damage*stats.physical_modifier*0.7//1)|int}}-{{(worn_item.max_damage*stats.physical_modifier*0.7//1)|int}}
                {%else%}
                Magical Damage: {{(worn_item.min_damage*stats.magical_modifier*0.7//1)|int}}-{{(worn_item.max_damage*stats.magical_modifier*0.7//1)|int}}
                {%endif%}
            </li>
            <li>
                Speed: {{(worn_item.weapon_speed*stats.speed_modifier)|round(2)}}
            </li>
        </ul>
        {%endif%}
            
        
        {%endif%}
        {%endfor%}
    </div>
</div>

<table class="character">
    
    
    <tr>
        <td class="empty">
            
        </td>
        <td class="equip">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Head"%}
            <div class="equipment">Head
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>
                    </tr>
                    </table>
                 </span>
            
            {%endif%}
            {%endfor%}
        </td>
        <td class="empty">
            
        </td>
    </tr>
    <tr>
        <td class="equip" colspan="3">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Shoulders"%}
                <div class="equipment">Shoulders
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>
                    </tr>
                    </table>
                 </span>
            {%endif%}
            {%endfor%}

            
        </td>
    </tr>
    <tr>
        <td class="equip">
            
        </td>
        <td class="equip" rowspan="2">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Chest"%}
            <div class="equipment">Chest
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>
                    </tr>
                    </table>
                 </span>
            {%endif%}
            {%endfor%}
            
        </td>
        <td class="equip">
            
        </td>
    </tr>

    <tr>
        <td class="equip">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Weapon"%}
            <div class="equipment">Weapon
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>
                        <td>
                        {%if worn_item.slot=="Weapon"%}
                        <ul>
                            <li>
                                Damage: {{worn_item.min_damage}}-{{worn_item.max_damage}}
                            </li>
                            <li>
                                Speed: {{worn_item.weapon_speed}}
                            </li>
                            <li>
                                Damage styles: {{worn_item.damage_style}} {%if worn_item.secondary_style%}/ {{worn_item.secondary_style}} {%endif%}
                            </li>
                        </ul>
                        {%endif%}
                        </td>

                    </tr>
                    </table>
                 </span>
            {%endif%}
            {%endfor%}
            
        </td>
        <td class="equip">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Hands"%}
            <div class="equipment">Hands
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>
                    </tr>
                    </table>
                 </span>
            {%endif%}
            {%endfor%}
        </td>
    </tr>

    <tr>
        <td class="empty">
            
        </td>
        <td class="equip" rowspan="2">
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Legs"%}
            <div class="equipment">Legs
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>

                    </tr>
                    </table>
                 </span>
            {%endif%}
            {%endfor%}
            
        </td>
        <td class="empty">
            
        </td>
    </tr>
    <tr>
        <td class="empty">
            
        </td>
        <td class="empty">
            
        </td>

    </tr>
    <tr>
        <td class="equip" colspan="3" >
            {%for worn_item in worn_items%}
            {%if worn_item.slot=="Feet"%}
            <div class="equipment">Feet
                 <span class="equipment_info">
                    <table>
                    <tr class="{{worn_item.rarity}}">
                        <td>{{worn_item.item_name}}</td>
                        <td>{{worn_item.type}}</td>
                        <td>Level: {{worn_item.item_level}}</td>
                        <td><div class="{{worn_item.rarity}}">{{worn_item.rarity}}</div></td>
                        <td>
                            <ul>
                                {%if worn_item.magic%}
                                <li>
                                    Magic: {{worn_item.magic}}
                                </li>
                                {%endif%}
                                {%if worn_item.agility%}
                                <li>
                                    
                                    Agility: {{worn_item.agility}}
                
                                </li>
                                {%endif%}

                                {%if worn_item.strength%}
                                <li>
                                    
                                    Strength: {{worn_item.strength}}
                
                                </li>
                                {%endif%}
                                {%if worn_item.stamina%}
                                <li>
                                    Stamina: {{worn_item.stamina}}
                                </li>
                                {%endif%}
                                {%if worn_item.armor%}
                                <li>
                                    
                                    Armor: {{worn_item.armor}}
                
                                </li>
                                {%endif%}
                            </ul>

                        </td>

                    </tr>
                    </table>
                 </span>
            {%endif%}
            {%endfor%}
            
        </td>

    </tr>
</table>

<h2>Inventory:</h2> 
{%if items%}
    <table>
        <tr>
            <th>Item name</th>
            <th>Item type</th>
            <th>Item level</th>
            <th>Item rarity</th>
            <th>Item stats</th>
            <th>Item slot</th>
            <th>Trader price</th>
        </tr>
        {% for item in items %}

        <tr class="{{item.rarity}}">
            <td>{{item.item_name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.item_level}}</td>
            <td><div class="{{item.rarity}}">{{item.rarity}}</div></td>
            <td>
                <ul>
                    {%if item.magic%}
                    <li>
                        Magic: {{item.magic}}
                    </li>
                    {%endif%}
                    {%if item.agility%}
                    <li>
                        
                        Agility: {{item.agility}}
    
                    </li>
                    {%endif%}

                    {%if item.strength%}
                    <li>
                        
                        Strength: {{item.strength}}
    
                    </li>
                    {%endif%}
                    {%if item.stamina%}
                    <li>
                        Stamina: {{item.stamina}}
                    </li>
                    {%endif%}
                    {%if item.armor%}
                    <li>
                        
                        Armor: {{item.armor}}
    
                    </li>
                    {%endif%}
                </ul>
                {%if item.slot=="Weapon"%}
                <ul>
                    <li>
                        Damage: {{item.min_damage}}-{{item.max_damage}}
                    </li>
                    <li>
                        Speed: {{item.weapon_speed}}
                    </li>
                    <li>
                        Damage styles: {{item.damage_style}} {%if item.secondary_style%}/ {{item.secondary_style}} {%endif%}
                    </li>
                </ul>
                {%endif%}

            </td>
            <td>{{item.slot}}</td>
            <td>{{item.trader_price}}</td>
            <td>
                <form action="/offer_trade" method="get">
                    <input type="hidden" name="item_id" value="{{item.id}}"/>
                    {% for value in info %}
                    {%if value.username!=session.username%}
                    <input type="submit" value="Offer a trade"/>
                    
                    {%else%}
                    <input type="submit" value="See offers"/>
                    {%endif%}
                    {%endfor%}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{%else%}
<ul>Player doesn't have any items</ul>
{%endif%}


{%endblock%}