<!DOCTYPE html>
<html>
    <head>
        <title>
            Register
        </title>
    </head>
    <body>
        {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
        {% endfor %}
        <b>Register</b>
        <form action="/register" method="post">
            <input type="text" name="username" value="{{ username }}" placeholder="username"/>
            <input type="password" name="password1" placeholder="password"/>
            <input type="password" name="password2" placeholder="password again"/>
            <input type="submit" value="Register"/>
        </form>
    </body>
</html>